.App {
  text-align: center;
}

h2 {
  color: darkblue;
}

link {
  z-index: 100;
}

.pianologo {
  width: 200px;
  height: 200px;
  z-index: 1;
}

/* Position must be set to relative to accomodate the pseudo-element. */
.menu {
  display: flex;
  padding: 10px;
  margin-top: 0px;
  width: auto;
  position: relative;
  z-index: 100;
  justify-content: center;
}

.menu-three-line {
  display: none;
}

/* Use of this pseudo-element allows for opacity setting of the linear-gradient . . . watch the z-index to make sure links are still available*/
.menu:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: linear-gradient(to bottom right, blue, aqua);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: 100;
}

.menu-item {
  margin: 50px;
  width: 50%;
  list-style-type: none;
  border: 4px blue double;
  z-index: 100;
}

.home.menu-item:hover {
  border: 4px purple double;
}

.menu-item.songs {
  display: flex;
  flex-direction: column;
}

.column.home {
  border-radius: 500px;
  flex: 0 0 280px;
}

.home h1 {
  color: black;
}

.song {
  border: 4px blue double;
  flex-grow: 1;
}
.gtw h1, h1.gtw {
  color: darkgreen;
}

.all2 h1, h1.all2 {
  color: blue;
}


h1.musette, .musette h1  {
  color: purple;
}

.song:hover {
  border: 4px purple double;
}

a {
  text-decoration: none;
  color: darkviolet;
}

.pages {
  background-color: rgb(205, 233, 242);
  z-index: 0;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
  padding: 0 30px;
  border: 1px darkblue solid;
  border-radius: 5px;
  box-shadow: 3px 3px 3px mediumblue;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  max-height: 10000px;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
}

.accordion-content[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.plus {
  font-size: 38px;
  color: darkblue;
}

.plus[aria-expanded="true"] {
  display: none;
}

.minus {
  display: none;
  color: darkblue;
}

.minus[aria-expanded="false"] {
  display: inline;
  font-size: 38px;

}

.lyricandplayer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px #37997f solid;
  margin: 10px auto;
  box-shadow: 3px 3px 3px #37997f;
  width: 95%;
}

@media screen and (max-width: 670px) {
  .menu, .lyricandplayer {
    flex-wrap: wrap;
  }

  .column.home {
    flex: 0 0 175px;
    margin-bottom: 0;
  }

  .pianologo {
    width: 100px;
    height: 100px;
    z-index: 100;
  }

  .desktop {
    display: none;
  }

  .menu-three-line {
    display: inline-block;
    border: none;
    width: 50px;
    font-size: 40px;
    background-color: transparent;
    color: darkblue;
  }
  .menu, .mobile {
    justify-content: flex-start;
  }
}