.App {
  text-align: center;
}

h2 {
  color: darkblue;
}

link {
  z-index: 100;
}

.pianologo {
  width: 200px;
  height: 200px;
  z-index: 1;
}

/* Position must be set to relative to accomodate the pseudo-element. */
.menu {
  display: flex;
  padding: 10px;
  margin-top: 0px;
  width: auto;
  position: relative;
  z-index: 100;
}

/* Use of this pseudo-element allows for opacity setting of the linear-gradient . . . watch the z-index to make sure links are still available*/
.menu:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: linear-gradient(to bottom right, blue, aqua);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: 100;
}

.menu-item {
  margin: 50px;
  padding: 10px;
  width: 50%;
  list-style-type: none;
  border: 4px blue double;
  z-index: 100;
}

.column.home {
  border-radius: 500px;
  flex: 0 0 280px;
}

.home h1 {
  color: black;
}

.song {
  border: 4px blue double;
  margin: 5px;
}
.gtw h1, h1.gtw {
  color: darkgreen;
}

.all2 h1, h1.all2 {
  color: blue;
}


h1.musette, .musette h1  {
  color: purple;
}

.song:hover {
  border: 6px purple double;
}

a {
  text-decoration: none;
  color: darkviolet;
}

.pages {
  background-color: lightblue;
  z-index: 0;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 0 30px;
  border: 4px blue double;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  max-height: 10000px;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
}

.accordion-content[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.plus {
  font-size: 38px;
  color: darkblue;
}

.plus[aria-expanded="true"] {
  display: none;
}

.minus {
  display: none;
  color: darkblue;
}

.minus[aria-expanded="false"] {
  display: inline;
  font-size: 38px;

}

.lyricandplayer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 6px #37997f ridge;
}

@media screen and (max-width: 670px) {
  .menu, .lyricandplayer {
    flex-wrap: wrap;
  }
}