.App {
  text-align: center;
}

h2 {
  color: darkblue;
}


/* Position must be set to relative to accomodate the pseudo-element. */
.menu {
  display: flex;
  padding: 10px;
  margin-top: 0px;
  width: auto;
  position: relative;
  z-index: 100;
}

/* Use of this pseudo-element allows for opacity setting of the linear-gradient . . . watch the z-index to make sure links are still available*/
.menu:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: linear-gradient(to bottom right, blue, aqua);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: 1;
}

.menu-item {
  margin: 50px;
  padding: 10px;
  width: 50%;
  list-style-type: none;
  border: 2px solid darkblue;
  border-radius: 30px;
  z-index: 100;
}

a {
  text-decoration: none;
  color: darkviolet;
}

.pages {
  background-color: lightblue;
  z-index: 0;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 0 30px;
  border-radius: 20px;
  border: 2px solid blue;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  max-height: 10000px;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
}

.accordion-content[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.plus {
  font-size: 38px;
  color: darkblue;
}

.plus[aria-expanded="true"] {
  display: none;
}

.minus {
  display: none;
  color: darkblue;
}

.minus[aria-expanded="false"] {
  display: inline;
  font-size: 38px;

}